{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello Arab! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/MAMP/htdocs/All/symfony_boilerplate/src/Controller/TaskController.php</code></li>
        <li>Your template at <code>C:/MAMP/htdocs/All/symfony_boilerplate/templates/task/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
